.landing,
.preview {
	width: 100%;
	height: 86vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: space-between;
	border-bottom: 1px solid #13131e;
}

.landing .landing__mainImg,
.preview .preview__container {
	width: 60%;
	height: 100%;
	overflow: hidden;
	border: 0;
}

.landing .landing__mainImg img {
	width: auto;
	height: 100%;
}

.landing aside,
.preview aside {
	margin: auto;
	height: 100%;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.landing aside .landing__content,
.preview aside .preview__content {
	margin: auto;
	width: 100%;
	padding: 5%;
}
.landing aside .landing__content h1 {
	font-size: 2.8rem;
	margin: 15px;
	font-family: "Raleway", sans-serif;
}
.landing aside .landing__content p,
.preview aside .preview__content p {
	font-weight: 300;
	margin: 10px;
	margin-left: 10%;
	text-align: justify;
}
.landing aside a,
.preview aside .preview__content a {
	color: orange;
}

.landing aside a:hover,
.preview aside .preview__content a:hover {
	color: orange;
	text-decoration: underline;
}

.landing aside a {
	display: block;
	text-align: center;
	font-size: 1.8rem;
}

.preview aside {
	left: 0;
}
.preview aside .preview__content h2 {
	font-family: "Raleway", sans-serif;
	font-size: 2rem;
}
.preview .preview__container {
	padding: 1rem;
	right: 0;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.preview .preview__card {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
	border: #13131e 1px solid;
}
.preview .preview__card a {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-content: center;
	justify-content: center;
}
.preview .preview__card img {
	margin: auto;
	width: 100%;
	height: auto;
}

.preview .preview__card h5 {
	width: 100%;
	padding: 0.3rem;
	text-align: center;
	font-size: 2rem;
	font-family: "Raleway", sans-serif;
	position: absolute;
	top: 0;
	background-color: white;
}

.preview h3 {
	color: orange;
}
