.main, .landing, .productLanding, .preview {
  height: calc(100vh - 44.8px);
  margin-top: 44.8px;
}

@media screen and (max-width: 990px) {
  .main, .landing, .productLanding, .preview {
    height: calc(100vh - 40px);
    margin-top: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "Noto Sans Mono", monospace;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  color: #13131e;
  background-color: white;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

.fullscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 0;
  z-index: 100000;
}

nav {
  align-self: flex-end;
  min-width: 40%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  box-sizing: border-box;
  border-left: 1px solid #13131e;
  overflow: hidden;
}
nav ul li #current {
  color: orange;
}
nav ul li a {
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  position: relative;
  color: indigo;
  text-decoration: none;
  z-index: 1;
}
nav ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  transform: translateY(100%);
  transition: all 0.25s ease-out;
}
nav ul li:hover a:before {
  transform: translateY(0%);
  background-color: none;
}

footer {
  height: 14vh;
  color: white;
  background-color: indigo;
}

.productLanding__mainImg, .preview__container, .landing__mainImg {
  width: 60%;
  height: 100%;
  overflow: hidden;
  border: 0;
}

.preview aside, .landing__aside {
  margin: auto;
  height: 100%;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.preview__content, .landing__content {
  margin: auto;
  width: 100%;
  padding: 5%;
}
.preview__content p, .landing__content p {
  font-weight: 300;
  margin: 10px;
  margin-left: 10%;
  text-align: justify;
}

.preview aside a, .landing__aside a {
  color: orange;
}
.preview aside a:hover, .landing__aside a:hover {
  color: orange;
  text-decoration: underline;
}

.landing, .productLanding, .preview {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #13131e;
}
.landing__mainImg img {
  width: auto;
  height: 100%;
}
.landing__aside a {
  display: block;
  text-align: center;
  font-size: 1.8rem;
}
.landing__content h1 {
  font-size: 2.8rem;
  margin: 15px;
  font-family: "Raleway", sans-serif;
}
.landing__content p {
  font-weight: 300;
  margin: 10px;
  margin-left: 10%;
  text-align: justify;
}

.preview__container {
  padding: 1rem;
  right: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.preview aside {
  left: 0;
}
.preview__content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}
.preview__card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  border: #13131e 1px solid;
}
.preview__card a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
}
.preview__card img {
  margin: auto;
  width: 100%;
  height: auto;
}
.preview__card h3 {
  color: orange;
}
.preview__card h5 {
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .landing__aside, .preview aside {
    width: 100%;
  }

  .productLanding__mainImg, .landing__mainImg, .preview__container {
    width: 100%;
  }

  .landing, .productLanding, .preview {
    flex-direction: column;
  }
  .landing__aside {
    position: absolute;
    top: 0px;
    background-color: rgba(13, 13, 18, 0.7);
    color: white;
    padding: 3rem;
  }
  .landing__content {
    height: calc(100% - 40px);
    margin-bottom: 0;
    border: 2px solid white;
    overflow: scroll;
  }
  .landing__content p {
    background-color: #13131e;
    margin: 0;
    padding: 1rem;
  }

  .preview {
    height: auto;
  }
}
@media screen and (max-width: 510px) {
  .landing__aside {
    padding: 1rem;
  }

  .preview__container {
    padding: 0.3rem;
    grid-gap: 0.3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .preview__card {
    padding: 0.3rem;
  }
  .preview__card h5 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.productLanding__mainImg img {
  width: auto;
  height: 100%;
}
.productLanding__aside {
  padding: 3rem;
  margin: auto;
  height: 100%;
  width: 40%;
}
.productLanding__content {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 5%;
  border: 2px solid #13131e;
  position: relative;
}
.productLanding__content h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
}
.productLanding__content p {
  padding: 1.5rem;
  font-weight: 300;
  text-align: justify;
  color: white;
  background-color: #13131e;
  width: 200%;
  transform: translateX(5%);
  z-index: 100;
}
.productLanding__content a {
  color: orange;
  text-decoration: underline;
  display: block;
  text-align: center;
  font-size: 1.8rem;
}

.details {
  width: 70%;
  min-height: 86vh;
  margin: auto;
  padding: 3rem;
}
.details__chart {
  margin: 10px;
  border-collapse: collapse;
  background-color: #f0f0f0;
}
.details__chart td {
  border: 1px solid white;
  padding: 1rem;
}
.details__chart td ul,
.details__chart td ol {
  padding-left: 3rem;
  font-weight: 300;
}
.details__chart__row--middle {
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .productLanding__aside {
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .productLanding {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    position: relative;
  }
  .productLanding__mainImg {
    max-height: calc(100vh - 40px);
  }
  .productLanding__mainImg img {
    width: 100%;
  }
  .productLanding__aside {
    flex: 1;
    width: 100%;
    padding: 1rem;
    height: auto;
  }
  .productLanding__content {
    border: 2px solid #13131e;
  }
  .productLanding h1 {
    color: white;
    text-shadow: 4px 4px 8px #13131e;
    font-size: 2.8rem;
    font-family: "Raleway", sans-serif;
  }
  .productLanding p {
    transform: none;
    width: 100%;
  }

  .details {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .details {
    width: 100%;
    overflow: scroll;
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  .details__chart {
    margin: 0;
  }
  .details__chart td {
    padding: 0.5rem;
  }
  .details__chart td ul,
.details__chart td ol {
    padding-left: 1.5rem;
    font-weight: 300;
  }
}
.nosotrosMain, .contactoMain, .productosMain, .more {
  flex: 1;
  width: 70%;
  margin: auto;
}

.main {
  width: 100%;
  padding: 3rem;
  background-image: url("../img/D0OoKHI.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #13131e;
}
.main__content {
  width: 70%;
  height: 100%;
  padding: 3rem;
  border: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  transition: background-color 1s;
}
.main__content h1 {
  text-shadow: 4px 4px 8px #13131e;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  transition: all 1s;
}
.main__content p {
  width: 120%;
  padding: 1.5rem;
  font-weight: 300;
  text-align: justify;
  color: white;
  background-color: #13131e;
  z-index: 100;
  transform: translateX(5%);
  transition: transform 1s;
}
.main__content:hover {
  background-color: rgba(13, 13, 18, 0.5);
}
.main__content:hover p {
  transform: translateX(10%);
}
.main__content:hover h1 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}

.more {
  padding: 6rem;
  padding-top: 3rem;
}
.more h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
}
.more p {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 2rem;
}

@media screen and (max-width: 992px) {
  .nosotrosMain, .contactoMain, .productosMain, .more {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main__content {
    width: 100%;
  }
  .main__content p {
    width: 100%;
    transform: translateX(0%);
  }
  .main__content:hover {
    background-color: initial;
  }
  .main__content:hover p {
    transform: translateX(0%);
  }
  .main__content:hover h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 510px) {
  .main {
    padding: 1rem;
    min-height: calc(100vh - 40px);
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__content {
    flex: 1;
    padding: 1rem;
  }

  .more {
    padding: 1rem;
    padding-top: 3rem;
  }
  .more p {
    padding: 1rem;
    width: 100%;
  }
  .more h2 {
    width: 100%;
    font-size: 10vw;
    margin-bottom: inherit;
  }
}
.productosMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productosMain .product {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid black;
}
.productosMain .product a {
  display: flex;
}
.productosMain .product__image {
  padding: 1rem;
  padding-right: 0.5rem;
  width: 40vh;
  height: 100%;
  overflow: hidden;
}
.productosMain .product__image img {
  width: 100%;
  height: auto;
  margin: auto;
}
.productosMain .product__desc {
  padding: 1rem;
  padding-left: 0;
  height: 100%;
  color: #13131e;
  font-size: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productosMain .product__desc p {
  flex: 1;
  text-align: justify;
  font-size: 1rem;
  font-weight: 300;
}
.productosMain .product__desc h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  .productosMain .product {
    height: 40%;
  }
  .productosMain .product__image {
    width: 30%;
    height: 100%;
    align-self: center;
  }
}
@media screen and (max-width: 510px) {
  .productosMain .product__desc p {
    font-size: 0.8rem;
  }
  .productosMain .product__desc h3 {
    font-size: 1rem;
  }
}
.contactoMain {
  min-height: 86vh;
  padding: 5%;
  overflow: scroll;
}
.contactoMain form {
  margin: auto;
  height: 100%;
  border: 2px solid #13131e;
  padding: 5%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.contactoMain form fieldset legend {
  background-color: white;
  padding: 0 5%;
  text-align: center;
  font-size: 1.8rem;
  transform: translateY(-50%);
}
.contactoMain form fieldset div {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #13131e;
  display: flex;
}
.contactoMain form fieldset div input {
  flex: 1;
  padding-left: 0.3rem;
}
.contactoMain form fieldset .msj {
  flex-direction: column;
}
.contactoMain form fieldset .msj textarea {
  margin-top: 0.3rem;
  padding: 0.3rem;
  resize: none;
}
.contactoMain form fieldset .chk {
  display: inherit;
}
.contactoMain form fieldset .btn {
  margin: 1rem;
  padding: 0.5rem;
  border: 0;
  display: flex;
  flex-wrap: wrap;
}
.contactoMain form fieldset .boton {
  padding: 0.5rem 3rem;
  border: 1px solid #13131e;
  background-color: white;
  flex: 1 0 auto;
  cursor: pointer;
  transition: 0.2s;
}
.contactoMain form fieldset .boton:hover {
  background-color: #f4f4f4;
}
.contactoMain form fieldset .boton--enviar {
  background-color: #ffa500;
  flex: 1 0 auto;
}
.contactoMain form fieldset .boton--enviar:hover {
  background-color: #ffb500;
}

@media screen and (max-width: 510px) {
  .contactoMain {
    padding: 5% 0.5rem;
  }
  .contactoMain form {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
