.contactoMain {
	@extend .nosotrosMain;
	min-height: 86vh;
	padding: 5%;
	overflow: scroll;
	form {
		margin: auto;
		height: 100%;
		border: 2px solid $main-black;
		padding: 5%;
		padding-top: 0;
		display: flex;
		flex-direction: column;
		fieldset {
			legend {
				background-color: $main-white;
				padding: 0 5%;
				text-align: center;
				font-size: 1.8rem;
				transform: translateY(-50%);
			}
			div {
				margin: 1rem;
				padding: 0.5rem;
				border: 1px solid $main-black;
				display: flex;
				input {
					flex: 1;
					padding-left: 0.3rem;
				}
			}
			.msj {
				flex-direction: column;
				textarea {
					margin-top: 0.3rem;
					padding: 0.3rem;
					resize: none;
				}
			}
			.chk {
				display: inherit;
			}
			.btn {
				margin: 1rem;
				padding: 0.5rem;
				border: 0;
				display: flex;
				flex-wrap: wrap;
			}
			.boton {
				padding: 0.5rem 3rem;
				border: 1px solid $main-black;
				background-color: $main-white;
				flex: 1 0 auto;
				cursor: pointer;
				transition: 0.2s;
				&:hover {
					background-color: #f4f4f4;
				}
				&--enviar {
					background-color: #ffa500;
					flex: 1 0 auto;
					&:hover {
						background-color: #ffb500;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 510px) {
	.contactoMain {
		padding: 5% 0.5rem;
		form {
			padding: 0;
		}
	}
}
