%bigSection {
	width: 60%;
	height: 100%;
	overflow: hidden;
	border: 0;
}

%aside {
	margin: auto;
	height: 100%;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

%content {
	margin: auto;
	width: 100%;
	padding: 5%;
	p {
		font-weight: 300;
		margin: 10px;
		margin-left: 10%;
		text-align: justify;
	}
}

%a {
	color: $highlights;
	&:hover {
		color: $highlights;
		text-decoration: underline;
	}
}

.landing {
	width: 100%;
	height: 86vh;
	overflow: hidden;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: space-between;
	border-bottom: 1px solid $main-black;
	&__mainImg {
		@extend %bigSection;
		img {
			width: auto;
			height: 100%;
		}
	}
	aside {
		@extend %aside;
		a {
			display: block;
			text-align: center;
			font-size: 1.8rem;
			@extend %a;
		}
	}
	&__content {
		@extend %content;
		h1 {
			font-size: 2.8rem;
			margin: 15px;
			font-family: $text-font-title;
		}
		p {
			font-weight: 300;
			margin: 10px;
			margin-left: 10%;
			text-align: justify;
		}
	}
}

.preview {
	@extend.landing;
	&__container {
		@extend %bigSection;
		padding: 1rem;
		right: 0;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	aside {
		left: 0;
		@extend %aside;
		a {
			@extend %a;
		}
	}
	&__content {
		@extend %content;
		h2 {
			font-family: $text-font-title;
			font-size: 2rem;
		}
	}
	&__container {
		padding: 1rem;
		right: 0;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	&__card {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 10px;
		overflow: hidden;
		display: flex;
		align-content: center;
		justify-content: center;
		border: $main-black 1px solid;
		a {
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			align-content: center;
			justify-content: center;
		}
		img {
			margin: auto;
			width: 100%;
			height: auto;
		}
		h3 {
			color: $highlights;
		}
		h5 {
			width: 100%;
			padding: 0.3rem;
			text-align: center;
			font-size: 2rem;
			font-family: $text-font-title;
			position: absolute;
			top: 0;
			background-color: $main-white;
		}
	}
}
