$main-black: #13131e;
$main-white: white;
$highlights: orange;
$highlights-dark: indigo;
$text-font-main: "Noto Sans Mono", monospace;
$text-font-title: "Raleway", sans-serif;

@import "main";
@import "index";
@import "producto";
@import "nosotros";
@import "productos";
@import "contacto";
